@font-face {
    font-family: OpenSans-Bold;
    font-style: normal;
    font-weight: 400;
    src: url(https://dimon-z.github.io/test/src/fonts/opensans-bold.eot);
    src: url(https://dimon-z.github.io/test/src/fonts/opensans-bold.eot?#iefix) format("embedded-opentype"),
        url(https://dimon-z.github.io/test/src/fonts/opensans-bold.woff) format("woff"),
        url(https://dimon-z.github.io/test/src/fonts/opensans-bold.ttf) format("truetype")
}

@font-face {
    font-family: Raleway-Regular;
    font-style: normal;
    font-weight: 400;
    src: url(https://dimon-z.github.io/test/src/fonts/Raleway-Regular.eot);
    src: url(https://dimon-z.github.io/test/src/fonts/Raleway-Regular.eot?#iefix) format("embedded-opentype"),
        url(https://dimon-z.github.io/test/src/fonts/Raleway-Regular.woff) format("woff"),
        url(https://dimon-z.github.io/test/src/fonts/Raleway-Regular.woff2) format("woff2"),
        url(https://dimon-z.github.io/test/src/fonts/Raleway-Regular.svg) format("svg"),
        url(https://dimon-z.github.io/test/src/fonts/Raleway-Regular.ttf) format("truetype")
}

@font-face {
    font-family: Raleway-Bold;
    font-style: normal;
    font-weight: 400;
    src: url(https://dimon-z.github.io/test/src/fonts/Raleway-Bold.eot);
    src: url(https://dimon-z.github.io/test/src/fonts/Raleway-Bold.eot?#iefix) format("embedded-opentype"),
        url(https://dimon-z.github.io/test/src/fonts/Raleway-Bold.woff) format("woff"),
        url(https://dimon-z.github.io/test/src/fonts/Raleway-Bold.woff2) format("woff2"),
        url(https://dimon-z.github.io/test/src/fonts/Raleway-Bold.svg) format("svg"),
        url(https://dimon-z.github.io/test/src/fonts/Raleway-Bold.ttf) format("truetype")
}

@font-face {
    font-family: Raleway-SemiBold;
    font-style: normal;
    font-weight: 400;
    src: url(https://dimon-z.github.io/test/src/fonts/Raleway-SemiBold.eot);
    src: url(https://dimon-z.github.io/test/src/fonts/Raleway-SemiBold.eot?#iefix) format("embedded-opentype"),
        url(https://dimon-z.github.io/test/src/fonts/Raleway-SemiBold.woff) format("woff"),
        url(https://dimon-z.github.io/test/src/fonts/Raleway-SemiBold.woff2) format("woff2"),
        url(https://dimon-z.github.io/test/src/fonts/Raleway-SemiBold.svg) format("svg"),
        url(https://dimon-z.github.io/test/src/fonts/Raleway-SemiBold.ttf) format("truetype")
}



html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: #fff;
    line-height: 1.15;
    min-height: 100%;
    text-rendering: optimizeSpeed;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    max-width: 1900px;
    min-width: 400px;
    margin: 0 auto;
}

.header {
    align-items: center;
    border-bottom: 1px solid #4e5066;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: row;
    height: auto;
    justify-content: space-between;
    padding: 25px 0;
    margin: auto 20px;
}

.wrapper__top {
    background: url(https://dimon-z.github.io/test/src/img/top.png) no-repeat;
    background-size: cover;
    margin: 0 auto;
    width: auto;
    padding-bottom: min(25px, 5%);
}

.header__wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.header__nav {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-around
}

.header__nav-link {
    line-height: 23px;
    text-decoration: solid;
    align-items: center;
    color: #fff;
    display: flex;
    font: 13px/1 Raleway-Bold, sans-serif;
    margin: auto 20px;
    text-decoration: none;
    text-transform: uppercase
}

.header__nav-link span {
    display: inline-block;
    line-height: 1;
    cursor: pointer;
}

.header__nav-link span:after {
    background-color: #f66d52;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    transition: width .3s ease-in-out;
    transform: scale(1.2);
}

.header__nav-link span:hover:after,
.header__nav-link span:focus:after {
    width: 100%;
}


.header__nav-link:last-child {
    margin-right: 0px;
}


.header__logo {
    flex: 0 1 auto;
}

.header__logo-pic {
    height: auto;
    vertical-align: baseline;
    width: auto
}

.wrapper__about {
    margin: 100px auto;
    max-width: 920px;
}

.about {
    margin: 50px auto 0;
    text-align: center;
    width: auto
}

.about__name {
    color: #fff;
    font: 65px/100% OpenSans-Bold, sans-serif;
    text-transform: uppercase
}

.about__text {
    color: #fff;
    font: 22px/150% Raleway-Regular, sans-serif;
    margin: 25px 0 0
}

.about__button {
    height: 50px;
    margin: 0 auto;
    margin-top: 3vw;
    text-align: center;
    align-items: center;
    background: #e84545;
    border-radius: 3px;
    cursor: pointer;
    display: inline-flex;
    font: 13px/161% Raleway-SemiBold, sans-serif;
    padding: 0 54px;
    transition: background-color .3s linear;
    text-transform: uppercase;
}

.about__button-decoration {
    color: white;
    text-decoration: none;
}

.about__button:hover {
    background: #e55757
}

.feature {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px
}

.wrapper__feature {
    max-width: 1000px;
    margin: 0 auto;
}

.feature__container {
    flex: 0 1 300px;
    margin-top: 50px;
    text-align: center;
}

.feature__icon {
    height: 50px;
    vertical-align: bottom;
    width: auto
}

.feature__name {
    color: #2d3033;
    font: 14px/129% Raleway-Bold, sans-serif;
    margin-top: 20px;
    text-transform: uppercase
}

.feature__text {
    color: #6c7279;
    font: 14px/150% Raleway-Regular, sans-serif;
    margin-top: 15px
}

.works {
    display: flex;
    flex-wrap: wrap;
    margin: 70px -1px 0
}

.works__element {
    display: flex;
    flex: 0 1 calc(25% - 1px);
    margin: 1px 0 0 1px;
    overflow: hidden;
    position: relative;
    text-decoration: none
}

.works__img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
    position: relative;
    vertical-align: middle;
    width: 100%;
    z-index: 0
}

.works__link-hover {
    align-items: center;
    display: flex;
    opacity: 0;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-decoration: none;
    top: 0;
    transition: opacity .4s;
    transition: 0.6s;
    width: 100%;
    z-index: 1
}

.works__link-hover:before {
    background: #e84545;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: .9;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0
}

.works__element:hover .works__link-hover {
    opacity: 1;
}

.works__title {
    color: #fff;
    font: 12px/129% Raleway-Bold, sans-serif;
    position: relative;
    text-transform: uppercase;
    z-index: 1
}

.works__text {
    color: #fff;
    font: 12px/129% Raleway-Regular, sans-serif;
    margin-top: 9px;
    position: relative;
    z-index: 1
}

.hamburger-menu {
    display: none;
}

@media screen and (max-width: 1100px) {
    .wrapper__about {
        max-width: 600px;
    }

    .about__name {
        color: #fff;
        font: 30px/150% OpenSans-Bold, sans-serif;
        text-transform: uppercase
    }

    .about__text {
        color: #fff;
        font: 18px/150% Raleway-Regular, sans-serif;
        margin: 25px 0 0
    }

    .works__element {
        flex: 0 1 calc(50% - 1px);
    }
}

@media screen and (max-width: 770px) {
    .header__logo {
        flex: 0 0 auto;
    }

    .header__logo-pic {
        align-self: center;
        margin: 0 auto;
    }

    .header__logo-pic img {
        height: 100%;
        width: 100%;
    }

    .hamburger-menu {
        display: block;
    }

    .header__nav {
        display: none;
    }

    .about__name {
        color: #fff;
        font: 20px/150% OpenSans-Bold, sans-serif;
        text-transform: uppercase
    }

    .wrapper__about {
        margin: 50px;
    }

    .about__text {
        color: #fff;
        font: 15px/150% Raleway-Regular, sans-serif;
        margin: 25px 0 0
    }

    .works__element {
        flex: 0 1 calc(100% - 1px);
    }

    #menu__toggle {
        opacity: 0;
    }

    #menu__toggle:checked+.menu__btn>span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked+.menu__btn>span::before {
        top: 0;
        transform: rotate(0deg);
    }

    #menu__toggle:checked+.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked~.menu__box {
        left: 0 !important;
    }

    .menu__btn {
        position: fixed;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }

    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
    }

    .menu__btn>span::before {
        content: '';
        top: -8px;
    }

    .menu__btn>span::after {
        content: '';
        top: 8px;
    }

    .menu__box {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #ffffff;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
    }

    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }

    .menu__item:hover {
        background-color: #CFD8DC;
    }
}
